name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # 或者你的默认分支名称

  # 允许手动触发
  workflow_dispatch:

# 设置 GitHub Pages 部署权限
permissions:
  contents: read
  pages: write
  id-token: write

# 只允许一个部署同时进行
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true  # 启用 Git LFS
      
      - name: Checkout LFS objects
        run: git lfs pull
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Build
        env:
          BASE_HREF: /${{ github.event.repository.name }}/
        run: npm run build
      
      - name: Copy demo data to dist
        run: |
          mkdir -p dist/demo
          cp -r ../dyn_pkg/* dist/demo/
      
      - name: Setup Pages
        uses: actions/configure-pages@v4
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist'

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
